body {
    display:flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content: center;
}
#link-to-this-page{
    width: 100%;
    text-align: center;
    font-weight: bold;
}
#add-clock-button-container{
    width: 100%;
    text-align: center;
    margin: 1em;
}
#add-clock-button-container h3{
    margin: 0.2em;
}

.clock-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    width: 10em;
    border: 1px solid black;
    margin: 0.5em;
    
    background-color: white;

    cursor: all-scroll;
    text-align: center;
}

.clock-title-container {
    width: 100%;
    display: flex;
    justify-content: center;
    
    height: 1.5em;
    padding: 0.1em;

    background-color: lightgray;

}

.clock-title-text {
    width: 100%;
    border: 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    background-color: transparent;
}

.clock-close-button {
    position: absolute;
    right: 0px;

    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}

.clock-svg {
    margin: 0.5em;
}
.clock-svg path{
    cursor: pointer;
}

.segment-number-button-container {
    text-align: center;
    cursor: default;
}

